@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.article-content p {
  margin-bottom: 1.25rem;
  line-height: 1.8;
}

.article-content blockquote {
  border-left: 4px solid #f57c00;
  padding-left: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  background-color: #fff8f0;
  padding: 1rem;
  border-radius: 0 8px 8px 0;
}
